.d1{
height: 400px;
width: 80%;
background-color: aquamarine;
margin-left: 10%;
margin-top: 10%;
}
.d2{
height: 400px;
width: 30%;
background-color: blueviolet;
margin: 20px;
margin-top: -0px;
float: left;

}
.d2 image{
    height: 400px;
    width: 30%;




}






